
body {
	font-family: Calibri;
	display: block;
	text-align: center;
	width: 100%;
	background-color: ;
}
h1 {
	color:#666666;	
}
h2 {
	color: #6F6F6F;
	padding: 14px;
}
h3 {
	color: #6F6F6F;
}
.part {
	color: #AA3F3F;
	margin: 1000px 1000px;
}
.compSci {
	padding: 0px 14px 14px 14px;
}
.enviro
{
	padding: 80px 0px;
}
.cv {
	font-size: 26px;
	background: #0D7EDC;
	color: white;
	margin: 10px;
	padding: 4px 18px;
	text-decoration: none;
}
